

{% block body %}

<main class="container main">
    <div>
Hello {{app.request.query.get('name')| default ("guys") }}!
    </div>
    <div>
            My Lovely var: {{ someAwesomeVariable | default ('Lovin default values!') }}
    </div>
    <div>
            Hello {{ getName | default ("guys") }}!
    </div>
</main>
{% endblock %}

{% block title %} Some random title {% endblock %}

{% extends 'base.html.twig' %}

